<div class="row">
    <div class="col-10 mb-3 mx-auto">
      <div class="card text-center my-3">
        <div class="card-body">
          <h3 class="card-title">{{post.name}}</h3>
          <h4 class="card-text">{{post.content}}</h4>
          <h6> Автор - {{post.userName}}</h6>
          <h6> {{post.tags[0].tagName}}</h6>
        </div>
        <div class="card-footer text-muted">
          <button class="btn-warning mx-3" (click)="back()">Назад</button>
        </div>
      </div>
    </div>
</div>