<div class="row">
  <div class="col-10 mb-3 mx-auto">
    <div  *ngFor="let post of posts" class="card text-center my-3">
      <div class="card-body">
        <h3 class="card-title">{{post.name}}</h3>
        <h4 class="card-text">{{post.content | slice:0:20}}</h4>
        <h6> Автор - {{post.userName}}</h6>
        <button class="btn-info" (click)="viewUser(post.userName)">Другие публикации автора</button> 
        <h6> {{post.tags[0].tagName}}</h6>
      </div>
      <div class="card-footer text-muted">
        <button class="btn-warning mx-3" (click)="viewPost(post.id)">Открыть</button>
      </div>
    </div>
  </div>
  
  <div class="col-2 col-md-2">
    <div class="wrapper">
      <nav id="sidebar">
        <div class="sidebar-header">
          <h2>Теги</h2>
        </div>
        <ul class="list-unstyled components">
          <li class="my-2">
            <button class="btn-info" (click)="viewTag('all')">Все</button> 
          </li>
          <li *ngFor="let tag of tags" class="my-2">
            <button class="btn-info" (click)="viewTag(tag.name)">{{tag.name}}</button> 
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>