<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <form>
          <span class="anchor" id="formLogin"></span>
          <div class="card rounded-0">
            <div class="card-header">
              <h3 class="mb-0">Редактирование данных пользователя</h3>
            </div>
            <div class="card-body">
              <form class="form">
                <div class="form-group">
                  <label >Текущее имя (eMail): {{user.Name}}</label>
                  <input type="email" [(ngModel)]="user.Name" name="name" class="form-control rounded-0" required>
                </div>
                <div class="form-group">
                  <label>Текущая роль: {{user.Role}}</label>
                  <select class="form-control" [(ngModel)]="newRole" name="newRole">
                    <option *ngFor="let role of roles" [value]="role.name">{{role.name}}</option>
                  </select>
                </div>
                <button type="button" (click)="updateUser()" class="btn btn-primary float-right">Изменить</button>
              </form>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
